<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>¡Bienvenidos a la Sociedad Científica de Ingeniería de Sistemas!</h1>
                <h3>¿Qué es la Sociedad Científica de Ingeniería de Sistemas (SCEIS)?</h3>  
                <h5>Es un grupo de estudiantes de la carrera de Ing. de sistema cuyo objetivo es realizar, publicar y diseminar investigaciones científicas de alto impacto en ciencias de la computación. La SCEIS investiga modelos, técnicas, herramientas para mejorar la calidad de los productos y procesos de desarrollo de software.</h5>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/logo-sceis.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->